:root {
  font-family: var(--font-base);
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

body {
  background-color: var(--color-lien-fond-fonce);
}

body > footer {
  margin-top: var(--spacing-thin);
}

nav * {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto; 
}

nav a:active,
button:active {
  transform: translateY(1px) scale(0.98);
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  line-height: 1.6em;
}

strong {
  font-weight: 600;
}

h1 {
  font-family: var(--font-accent);
  font-size: var(--font-tall);
  margin-bottom: var(--spacing-thinner);
}

h3 {
  font-family: var(--font-base);
  font-size: var(--font-current);
}

h2 {
  font-size: var(--font-shorter);
  margin-bottom: var(--spacing-micro);
  text-transform: uppercase;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing-small);
  font-size: var(--font-shorter);
  color: var(--color-texte-gris);
}

.texte-small {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-shortest);
  color: var(--color-texte-gris);
  margin-top: var(--spacing-micro);
}

.prix {
  color: var(--color-lien-fond-clair);
  font-family: var(--font-accent);
  font-size: var(--font-taller);
  margin-top: var(--spacing-thinnest);
}