.input-container {
  display: flex;
  gap: var(--spacing-thinnest);
  width: 100%;
}

.input-prix {
  border: 1px solid var(--color-border-line);
  border-radius: var(--radius-sharp);
  padding: 0.75rem;
  font-size: var(--font-current);
  flex: 1;
  transition: border-color 0.15s ease-in-out;
}

.input-prix:focus {
  border-color: var(--color-bleu-royal);
  outline: none;
}

@media (max-width: 768px) {
  .input-container {
    flex-direction: column; 
    gap: var(--spacing-nano); 
}

.input-prix {
    width: 100%; 
}

}
